<div class="team is-hidden">
  <div class="team__modal">
    <h2 class="team__modal-title">MOVIL-JS GRUPO 2</h2>
    <button class="btn-modal-close btn">
      <svg class="icon-modal-close" width="18" height="18">
        <use href="./images/SVG/close.svg#close"></use>
      </svg>
    </button>
    <ul class="team__list list">
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/hanna_vakulenko.jpg"
            alt="Miembro del Equipo"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Johnnatan Benitez</h3>
          <p class="team__subtitle">Team Lead</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/dmytro_smirnov.jpg"
            alt="Miembro del Equipo"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Uriel Lopez</h3>
          <p class="team__subtitle">Developer</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/denis.jpg"
            alt="Miembro del Equipo"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Diego</h3>
          <p class="team__subtitle">Developer</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/halyna_tyzhbir.jpg"
            alt="Miembro del Equipo"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Jeffrey Caro</h3>
          <p class="team__subtitle">Developer</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/anna_dolbina.jpg"
            alt="Miembro del Equipo"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Luz Avedaño</h3>
          <p class="team__subtitle">Developer</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/dasha_nikula.jpg"
            alt="Miembro del Equipo"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Nicolas Botero</h3>
          <p class="team__subtitle">Developer</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/oleksandr_kovshar.jpg"
            alt="Miembro del Equipo"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Orladis Muños</h3>
          <p class="team__subtitle">Developer</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/pavlo_skripnuyk.jpg"
            alt="Miembro del Equipo"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Silvia Galvis</h3>
          <p class="team__subtitle">Developer</p>
        </div>
      </li>
    </ul>
  </div>
</div>
