* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #212121;
}
ul {
  list-style: none;
}
address {
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  size: 12px;
  line-height: 16px;
}

.pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pages_item {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pages_item:hover,
.pages_item:focus {
  background: #ff6b08;
  color: #ffffff;
}

.pages_item--active,
.pages_item:hover,
.pages_item:focus,
.pages_item:active {
  background: #ff6b08;
  color: #ffffff;
}
