@use '../utils' as *;

// edit below

.pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pages__item {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background: $main-bg-cl;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pages__item--movement {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background: $secondary-bg-cl;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pages__item:hover,
.pages__item:hover a,
.pages__item:focus,
.pages__item:focus a {
    background: $secondary-accent-cl;
    color: $main-bg-cl;
}

.pages__item--active,
.pages__item--active a {
    background: $secondary-accent-cl;
    color: $main-bg-cl;
}

.loader-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0px;
    left: 0px;
    opacity: 1;
    visibility: visible;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2;
}

.loader-modal.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid $main-bg-cl;
    border-bottom-color: $secondary-accent-cl;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
